.booking-container {
    max-width: 1400px;
}

.booking-container-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.booking-check {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.box-checking {
    width: 180px;
    height: 40px;
    border: 1px rgb(194, 194, 194) solid;
    border-radius: 5px;
    font-size: 15px;
    padding: 0px 10px;
}

.date-adjust {
    width: 180px;
    color: #8b8b8b;
    font-size: 15px;
}

.time-adjust {
    width: 180px;
    color: #8b8b8b;
    font-size: 15px;
}

.booknow-button {
    background-color: #D50805;
    border: none;
    border-radius: 5px;
    width: 130px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    height: 45px;
}

.search-item {
    position: relative;
}

.icon-page1 {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    transform: translate(-135%, 50%);
}

.icon {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 1;
    left: -180px;
    top: -3px;
}

.infor-icon {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 1;
    left: -400px;
    top: -3px;
}

.infor-icon-note {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 1;
    left: -400px;
    top: -30px;
}

.cus-dropdown {
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: none;
    top: 110%;
    width: 180px;
    border: rgb(182, 182, 182) solid 1px;
    z-index: 1;
    border-radius: 3px;
}

.input-group {
    font-size: 13px;
}

.cus-option {
    width: 50px;
    height: 25px;
    font-size: 13px;
}

.booknow-button:hover,
.menu-button:hover {
    cursor: pointer;
}

.cus-margin {
    margin-right: 10px;
    font-size: 13px;
}

.booking-required {
    border: rgb(194, 194, 194) 1px solid;
    width: 400px;
    padding: 15px 15px 0px;
    text-align: justify;
    border-radius: 5px;
}

.booking-checkbox {
    text-align: center;
    margin: 20px 7px;
}

.booking-fontsize {
    font-size: 13px;
}

.booking-submit-button {
    width: 400px;
    background-color: var(--mainYellow);
    border: none;
    height: 40px;
    border-radius: 5px;
    margin: 0px 0px 20px;
}

.form-container {
    border: rgb(194, 194, 194) 1px solid;
    border-radius: 5px;
    width: 450px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.booking-confirm {
    width: 340px;
    text-align: center;
    background-color: rgb(240, 222, 162);
    height: 50px;
    padding-top: 5px;
    font-size: 13px;
    font-weight: bold;
    margin: 6px 0px 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.gender {
    width: 180px;
    padding-left: 30px;
}

.confirm-infor {
    width: 400px;
    padding-left: 35px;
}

.confirm-style {
    margin-top: 20px;
    height: 40px;
    border: rgb(192, 192, 192) solid 1px;
    border-radius: 5px;
}

.confirm-style-note {
    margin-top: 20px;
    border: rgb(192, 192, 192) solid 1px;
    border-radius: 5px;
}

.button-flex {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button-style {
    text-decoration: none;
    color: black;
}

.confirm-button {
    border: rgb(192, 192, 192) solid 1px;
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

.normal-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-top: 7px;
}

#group-icon {
    width: 27px;
    height: 27px;
}

.confirm-title {
    text-align: center;
    margin-top: 10px;
}

.confirm-content {
    margin-left: 15px;
    position: relative;
    top: 7px;
}