html,
body {
    margin: 0;
    padding: 0;
}

.footer__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer__container {
    font-family: "Noto Sans";
    font-size: 15px;
    margin: 0 auto;
}

.footer__aboutus {
    max-width: 320px;
    margin-right: 80px;
}

.footer__discover {
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.footer__discover--item {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.facebook--icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.insta--icon {
    width: 20px;
    height: 20px;
}

.footer--title {
    font-weight: bold;
}

.facebook--icon:hover {
    width: 22px;
    height: 22px;
}

.insta--icon:hover {
    width: 22px;
    height: 22px;
}

.footer__discover--item:hover {
    color: #D50805;
}

.footer__aboutus--item:hover {
    color: #D50805;
}

.footer__license {
    text-align: center;
    font-family: "Noto Sans";
    font-size: 13px;
}

.footer {
    background-color: #E5E5E5;
    height: 360px;
}

.logoBCT {
    width: 198px;
    height: 62px;
}

@media screen and (max-width: 700px) {
    .footer__aboutus {
        max-width: 220px;
        margin-right: 60px;
    }
    .footer__discover {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        line-height: 12px;
    }
    .footer__container {
        font-size: 11px;
    }
    .footer {
        height: 270px;
    }
    .logoBCT {
        width: 132px;
        height: 41px;
    }
    .footer__license {
        font-size: 10px;
    }
    .footer__aboutus {
        margin-right: 40px;
    }
}