<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SG Foodie</title>
    <link rel="stylesheet" href="./css/bodyStyles.css">
    <link rel="stylesheet" href="./css/carousel.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/jpg" href="./images/SGFoodie_LOGO1.png" />
    <script src="./js/scriptHomepage.js" defer></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="./js/child_adult.js"></script>
    <script>
        let app = angular.module("angularApp", []);
        app.controller("RestaurantController", function($scope, $http) {
            $http({
                method: "GET",
                url: "./data/restaurants.json"
            }).then(
                function success(response) {
                    $scope.restaurants = response.data;
                    $scope.categories = ["Nổi bật", "Ưu đãi", "Văn hóa ẩm thực", "Tinh hoa Việt Nam", "Điểm nhấn quận mình"];
                },
                function error(response) {
                    $scope.error = response.statusText;
                });
        })
    </script>

</head>

<body ng-app="angularApp" ng-controller="RestaurantController">
    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "103931358806728");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>
    
    <audio id="autoplay" autoplay preload="auto" loop>
        <source  src="./data/background-song.mp3" type="audio/mp3">
    </audio>
    <div w3-include-html="header.html"></div>
    <div class="carousel-container">
        <a class="slick-arrow slick-prev">
            <i class="fas fa-angle-left"></i>
        </a>
        <div class="slick-list">
            <div class="slick-track">
                <div id="lastClone" class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 1442px;">
                    <div>
                        <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                            <img class="image" src="./Images/home-banner.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 1442px;">
                    <div>
                        <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                            <img class="image" src="./Images/home-banner.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 1442px;">
                    <div>
                        <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                            <img class="image" src="https://znews-photo.zadn.vn/w660/Uploaded/neg_wpeczyr/2019_11_19/Tuan_Anh_vs_Thai_Lan_5_zing1_11.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 1442px;">
                    <div>
                        <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                            <img class="image" src="https://vnn-imgs-f.vgcloud.vn/2019/12/10/21/u22-vietnam-2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 1442px;">
                    <div>
                        <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                            <img class="image" src="https://image.thanhnien.vn/660/uploaded/quangtuyen/2019_10_10/yen1_vzrw.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 1442px;">
                    <div>
                        <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                            <img class="image" src="https://www.ruaanhgiare.vn/wp-content/uploads/2018/01/decal-viet-nam-vo-dich.png" alt="">
                        </a>
                    </div>
                </div>

                <div id="firstClone" class="slick-slide slick-cloned" data-index="1" tabindex="-1" aria-hidden="true" style="width: 1442px;">
                    <div>
                        <a href="" aria-label="" tabindex="-1" style="width: 100%; display: inline-block">
                            <img class="image" src="./Images/home-banner.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="slick-arrow slick-next">
            <i class="fas fa-angle-right"></i>
        </a>
        <ul class="slick-dots">
            <li class="slick-active">
                <button>1</button>
            </li>
            <li class="">
                <button>2</button>
            </li>
            <li class="">
                <button>3</button>
            </li>
            <li class="">
                <button>4</button>
            </li>
            <li class="">
                <button>5</button>
            </li>
        </ul>
    </div>
    <script src="./js/carousel.js"></script>
    <div w3-include-html="search-bar.html"></div>
    <div class="section">
        <div class="section__container reveal" ng-repeat="cat in categories">
            <div class="section__container-header">
                <h2>{{cat | uppercase}}</h2>
                <div></div>
                <span>
                        <a href="categoricalRestaurants.html?category={{cat}}" target="_blank">Xem tất cả</a>
                        <i class="material-icons">chevron_right</i>
                    </span>
            </div>
            <div class="section__container-row">
                <div class="row__item" ng-repeat="res in restaurants | filter:{category: cat} | limitTo:4">
                    <div class="row__item-image">
                        <img src="{{res.image[0]}}" alt="Unable to load image" title="{{res.name}}">
                    </div>
                    <div class="row__item-content">
                        <h3>
                            <a href="restaurantPage.html?restaurantId={{res.id}}" target="_blank">{{res.name}}</a>
                        </h3>
                        <p>{{res.short_description}}</p>
                        <p ng-if="cat == 'Ưu đãi'" class="row__item--color">{{res.discount}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top">
        <i class="material-icons">keyboard_arrow_up</i>
    </a>
    <div w3-include-html="footer.html"></div>
    <script>
        w3.includeHTML()
    </script>
    
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    
</body>

</html>
