<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bodyStyles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="../js/scriptHomepage.js" defer></script>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src="../js/angular.min.js"></script>
    <script>
        let app = angular.module("angularApp", []);
        app.controller("RestaurantController", function($scope, $http) {
            $http({
                method: "GET",
                url: "../data/restaurants.json"
            }).then(
                function success(response) {
                    $scope.restaurants = response.data;
                    $scope.categories = ["Nổi bật", "Ưu đãi", "Văn hóa ẩm thực", "Tinh hoa Việt Nam", "Điểm nhấn quận mình"];
                },
                function error(response) {
                    $scope.error = response.statusText;
                });
        })
    </script>

    <script>
        function get_value(...params) {
            var adults = document.getElementById(params[0]);
            var childrens = document.getElementById(params[1]);

            document.getElementById(params[2]).value = adults[adults.selectedIndex].value + ' người lớn ' + childrens[childrens.selectedIndex].value + ' trẻ em';
        }

        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if (e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }
    </script>
</head>

<body ng-app="angularApp" ng-controller="RestaurantController">
    <div w3-include-html="header.html"></div>
    <div w3-include-html="carousel.html"></div>
    <div w3-include-html="search-bar.html"></div>
    <div class="body">
        <div class="banner"></div>
        <div class="search-bar"></div>
        <div class="section">
            <div class="section__container reveal" ng-repeat="cat in categories">
                <div class="section__container-header">
                    <h2>{{cat | uppercase}}</h2>
                    <div></div>
                    <span>
                        <a href="categoricalRestaurants.html?category={{cat}}" target="_blank">Xem tất cả</a>
                        <i class="material-icons">chevron_right</i>
                    </span>
                </div>
                <div class="section__container-row">
                    <div class="row__item" ng-repeat="res in restaurants | filter:{category: cat} | limitTo:4">
                        <div class="row__item-image">
                            <img src="{{res.image[0]}}" alt="Unable to load image" title="{{res.name}}">
                        </div>
                        <div class="row__item-content">
                            <h3>
                                <a href="restaurantPage.html?restaurantId={{res.id}}" target="_blank">{{res.name}}</a>
                            </h3>
                            <p>{{res.short_description}}</p>
                            <p ng-if="cat == 'Ưu đãi'" class="row__item--color">{{res.discount}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
        </footer>
        <a href="#" class="back-to-top">
            <i class="material-icons">keyboard_arrow_up</i>
        </a>
        <div w3-include-html="footer.html"></div>
        <script>
            w3.includeHTML()
        </script>

</body>

</html>